*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  border-radius: 5px;
}

div {
  text-align: center;

}

ul {
  margin: auto;
  overflow: hidden;
  border-top: 1px solid #ccc;
  display: block;
}

li {
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  float: left;
  display: block;
}


h5 {
  color: white;
}
